body { 
	background-color: #ECF1EF;
	}

#navigation {
   position: absolute;
   width: 300px;
   border-right: 1px solid #C6EC8C;
   font-weight: normal;
}
 
#centerDoc {
   max-width: 600px;
   margin-left: 350px;
}
